@model IEnumerable<PokerViewer.Models.player_matchups>

@{
    ViewBag.Title = "Index";
}

<h2>Match-ups Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player1_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player2_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandsPlayed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player1_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandsPlayed)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "player_stats", new { id=item.Player1_ID }, null)
        </td>
    </tr>
}

</table>
