<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div id="site-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="containerMin">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle toggle-nav" href="#" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand toggle-nav" href="#" abp="9" id="big-sexy">Poker Viewer</a>
				
				</div>
				

			</div>
		</div>
		<div id="site-canvas">
			<div class="container body-content">
				<div class="jumbotron-fluid">
				
					
				</div>
				
				@RenderBody()

			</div>
			<div class="container body-content">
				<hr />
				<footer>
					<p>&copy; @DateTime.Now.Year - The Puglisi Jr. Method</p>
				</footer>
			</div>
			<div id="site-menu">

				<div class="nav-stacked">
					<ul class="nav navbar-brand">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>
				
				</div>

			</div>

			@Scripts.Render("~/bundles/jquery")
			@Scripts.Render("~/bundles/bootstrap")
			@RenderSection("scripts", required: false)
		</div>
	</div>
</body>
</html>
