@model PokerViewer.Models.hand

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ButtonPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ButtonPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlopCard1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlopCard1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlopCard2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlopCard2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlopCard3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlopCard3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiverCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiverCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.table.Stakes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table.Stakes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HandID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
