@model PagedList.IPagedList<PokerViewer.Models.player_stats>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet"
	  type="text/css" />

<link href="~/Content/PagedList.css" rel="stylesheet"
	  type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Player Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "player_stats", FormMethod.Get))
{
	<p>
		Find by Player Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
		<input type="submit" value="Search" />
	</p>
}
<table class="table">
    <tr>
        <th>
			@Html.ActionLink("Player Name", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
            
        </th>
        <th>
			@Html.ActionLink("Hands Played", "Index", new { sortOrder = ViewBag.HandsPlayedSortParm, currentFilter = ViewBag.CurrentFilter })
         
        </th>
        <th>
			@Html.ActionLink("Winnings", "Index", new { sortOrder = ViewBag.WinningsSortParm, currentFilter = ViewBag.CurrentFilter })
          
        </th>
        <th>
			@Html.ActionLink("VPIP", "Index", new { sortOrder = ViewBag.VPIPSortParm, currentFilter = ViewBag.CurrentFilter })
        
        </th>
        <th>
			@Html.ActionLink("PFR", "Index", new { sortOrder = ViewBag.PFRSortParm, currentFilter = ViewBag.CurrentFilter })
         
        </th>
        <th>
			@Html.ActionLink("ThreeBet", "Index", new { sortOrder = ViewBag.ThreeBetSortParm, currentFilter = ViewBag.CurrentFilter })
         
        </th>
        <th>
			@Html.ActionLink("FourBet", "Index", new { sortOrder = ViewBag.FourBetSortParm, currentFilter = ViewBag.CurrentFilter })
          
        </th>
        <th>
			@Html.ActionLink("PFAF", "Index", new { sortOrder = ViewBag.PFAFSortParm, currentFilter = ViewBag.CurrentFilter })
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandsPlayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winnings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VPIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PFR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreeBet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourBet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PFAF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "players", new { id = item.PlayerID }, null) |
            @Html.ActionLink("Details", "Details", new { id = item.PlayerID }) |
            @Html.ActionLink("Delete", "Delete", "players", new { id = item.PlayerID }, null)
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


