@model PagedList.IPagedList<PokerViewer.Models.hand_action>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet"
	  type="text/css" />

<link href="~/Content/PagedList.css" rel="stylesheet"
	  type="text/css" />

@{
    ViewBag.Title = "Index";
	SelectList itemsPerPageList = DefaultValues.ItemsPerPageList;

	
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.FirstOrDefault().HandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PlayerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<br />


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",  new { page, itemsPerPage = ViewBag.CurrentItemsPerPage }))
