@model PagedList.IPagedList<PokerViewer.Models.play>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet"
	  type="text/css" />

<link href="~/Content/PagedList.css" rel="stylesheet"
	  type="text/css" />

@{
	ViewBag.Title = "Index";
	SelectList itemsPerPageList = DefaultValues.ItemsPerPageList;


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartingStack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndingStack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SeatPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HoleCard1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HoleCard2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().hand.TableID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().player.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartingStack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndingStack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoleCard1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoleCard2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hand.TableID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage }))
